<div class="container">
  <div class="header">
    <span class="title-text">DATA OVERVIEW</span>
    <span class="description-text">Insights with real-time data updates.</span>
  </div>
  <div class="content">
    <div class="results-content">
      <div class="results-updates">
        <span class="card-title">Results Updates</span>
        @if (results === false) {
          <div class="results-accepted">
            <span class="material-symbols-rounded check"> task_alt </span>
            <div class="text-content">
              <span class="title">RESULT ACCEPTED</span>
              <span class="description">Your result #128 has been accepted.</span>
            </div>
          </div>
          <div class="results-accepted">
            <span class="material-symbols-rounded info"> info </span>
            <div class="text-content">
              <span class="title">PENDING RESULT</span>
              <span class="description">Your result #153 is pending to submit.</span>
            </div>
          </div>
          <div class="results-accepted">
            <span class="material-symbols-rounded cancel"> cancel </span>
            <div class="text-content">
              <span class="title">RESULT DENEGATED</span>
              <span class="description">Your result #155 has been denegated.</span>
            </div>
          </div>
        } @else {
          <div class="no-updates-yet">
            <img src="images/home/no-updates-yet.png" alt="" />
            <span class="title">No updates yet</span>
            <span class="description">It looks like you haven't created any results yet. Start now and unlock the potential of your research.</span>
          </div>
        }
      </div>
      <div class="results-status">
        <span class="card-title">Results by Status</span>
        @if (this.showChart()) {
          <div class="chart-container">
            <div class="chart-wrapper">
              <p-chart type="doughnut" [data]="data" [options]="options"></p-chart>
            </div>
            <div class="chart-legend">
              @for (item of chartLegend(); track $index) {
                <div class="legend-item">
                  <div class="color-indicator" [style.background-color]="item.color"></div>
                  <div class="legend-text">
                    <span class="legend-count" [attr.data-label]="item.label">{{ item.value }}</span>
                  </div>
                </div>
              }
            </div>
          </div>
        } @else {
          <div class="no-results-yet">
            <img src="images/home/no-results-yet.png" alt="" />
            <span class="title">No results yet</span>
            <span class="description">It looks like you haven't created any results yet. Start now and unlock the potential of your research.</span>
          </div>
        }
      </div>
    </div>
    <div class="indicators-content">
      <div class="text-content">
        <span class="card-title">My total numbers of results by indicator type</span>
      </div>
      @if (showIndicatorList()) {
        <div class="indicators">
          @for (indicator of indicatorList(); track $index) {
            <div class="indicator">
              <div class="indicator-number-container" [attr.data-index]="$index">
                <i class="material-symbols-rounded icon-color-{{ indicator.icon_src }}">{{ indicator.icon_src }}</i>
                <label class="indicator-number" for="username">{{ indicator.amount_results }}</label>
              </div>
              <label class="indicator-type" for="username">{{ indicator.name }}</label>
            </div>
          }
        </div>
      } @else {
        <div class="no-results-yet-2">
          <img src="images/home/no-results-yet.png" alt="" />
          <div class="column">
            <span class="title">No results yet</span>
            <span class="description">It looks like you haven't created any results yet. Start now and unlock the potential of your research.</span>
          </div>
        </div>
      }
    </div>
  </div>
</div>
