<div class="options input-container">
  <!-- <strong>{{ this.signal() }}</strong> -->
  <!-- @if (this) {

} -->

  @if (label) {
    <label class="label" for="username">{{ label }}</label>
  }
  @if (description) {
    <small class="description" for="username">{{ description }}</small>
  }

  @for (item of this.service.list(); track $index) {
    <div class="option">
      <p-radioButton [name]="item[optionValue.option]" value="{{ item[optionValue.option] }}" (ngModelChange)="setValue(item[optionValue.option])" [(ngModel)]="this.body().value" [inputId]="item[optionLabel] + 'id' + item[optionValue.option]" />
      <label [for]="item[optionLabel] + 'id' + item[optionValue.option]" class="ml-2"> {{ item[optionLabel] }} </label>
    </div>
  }
</div>
