<div class="card" [routerLink]="['/project-detail', project.agreement_id]" [class.header-project-details]="isHeader">
  <div class="card-content">
    <div class="organization-identifier">
      <div class="project">
        <div class="project-id">
          @if (isHeader) {
            <span class="project-id">PROJECT CODE:&nbsp;</span>
          }
          <label class="project-id" for="username">{{ project.agreement_id }}</label>
        </div>
        <label class="project-name" for="username">{{ project.projectDescription }} - {{ project.description }}</label>
      </div>
      @if (isHeader === false) {
        <div class="more-vert">
          <span class="material-symbols-rounded"> more_vert </span>
        </div>
      }
    </div>
    <div class="project-info">
      <div class="principal-investigator">
        <span class="project-title">Principal Investigator</span>
        <span class="material-symbols-rounded"> arrow_forward </span>
        <label class="project-data" for="username">{{ project.project_lead_description }}</label>
      </div>
      <div class="start-date">
        <span class="project-title">Start Date</span>
        <span class="material-symbols-rounded"> arrow_forward </span>
        <label class="project-data" for="username">{{ project.start_date | date: 'dd/MM/yyyy' }}</label>
      </div>
      <div class="end-date">
        <span class="project-title">End Date</span>
        <span class="material-symbols-rounded"> arrow_forward </span>
        <label class="project-data" for="username">{{ project.end_date | date: 'dd/MM/yyyy' }}</label>
      </div>
    </div>
    <div class="project-indicators">
      @for (indicator of project.indicators; track $index) {
        <div class="indicator">
          <div class="indicator-number-container">
            <i class="material-symbols-rounded {{ (indicator.indicator.indicator_type_id === 1 ? 'output' : 'outcome') + '-icon' }}">{{ indicator.indicator.icon_src }}</i>
            <label class="indicator-number" for="username">{{ indicator.count_results }}</label>
          </div>
          <label class="indicator-type" for="username">{{ indicator.indicator.name }}</label>
        </div>
      }
    </div>
  </div>
</div>
