@let list = this.signal()[this.signalOptionValue];
<div class="input-container">
  @if (label) {
    <label class="label" for="username">{{ label }}</label>
  }
  @if (description) {
    <small class="description" for="username" [innerHTML]="description"></small>
  }
</div>
<div class="items">
  <ng-template #defaultTemplate let-list> {{ list[this.optionLabel] }} </ng-template>
  @if (currentResultIsLoading()) {
    <p-skeleton width="100%" height="41px" styleClass="mb-2" />
  } @else {
    <p-multiSelect
      [style]="{ width: '100%' }"
      [loading]="this.service?.loading()"
      [options]="this.service?.list()"
      [filter]="!this.service?.isOpenSearch()"
      [filterBy]="this.optionLabel"
      [optionLabel]="this.optionLabel"
      [showToggleAll]="false"
      [optionValue]="this.optionValue"
      placeholder="Select items"
      [(ngModel)]="this.body().value"
      (ngModelChange)="this.setValue($event)"
      [virtualScroll]="true"
      [virtualScrollItemSize]="41">
      @if (this.service?.isOpenSearch()) {
        <ng-template pTemplate="header">
          <div class="p-dropdown-header">
            <div class="p-input-icon-left p-fluid">
              <i class="pi pi-search"></i>
              <input
                #filter
                type="text"
                class="p-inputtext p-component"
                (input)="onFilter({ filter: filter.value })"
                (click)="$event.stopPropagation()"
                placeholder="Search..." />
            </div>
          </div>
        </ng-template>
      }
      @if (!this.hideSelected) {
        <ng-template let-value pTemplate="selectedItems"> {{ selectedOptions()?.length }} items selected </ng-template>
        <ng-template let-item pTemplate="item"><span [innerHTML]="item[this.optionLabel]"></span></ng-template>
      }
    </p-multiSelect>
  }

  @if (!this.hideSelected) {
    @if (this.currentResultIsLoading() || !this.service?.list().length) {
      @for (row of list; track $index) {
        <p-skeleton width="100%" height="41px" styleClass="mb-2" />
      }
    } @else {
      @for (row of selectedOptions(); track $index) {
        <div class="item abc-grey-100">
          <ng-container *ngTemplateOutlet="rows || defaultTemplate; context: { $implicit: row }"></ng-container>
          <i class="material-symbols-rounded" (click)="removeOption(row)">cancel</i>
        </div>
      }
    }
  }
</div>
