<footer>
  <div class="footer atc-primary-blue-600">
    <div class="footer-column">
      <img src="alliance-blue.png" alt="Logo" class="footer-logo" />
    </div>
    <div class="footer-column">
      <h3 class="h3">Legal Information</h3>
      <a href="#" class="caption">Terms and Conditions</a>
      <a href="#" class="caption">License</a>
    </div>
    <div class="footer-column">
      <h3 class="h3">Resources</h3>
      <a href="#" class="caption">Alliance SharePoint</a>
      <a href="#" class="caption">Alliance Power BI</a>
      <a href="#" class="caption">Glossary of Terms</a>
    </div>
    <div class="footer-column">
      <h3 class="h3">Contact Us</h3>
      <a href="#" class="caption">Contact and Support</a>
    </div>
  </div>
  <hr class="footer-separator" />
  <div class="footer-copyright caption atc-primary-blue-600">© 2024 Alliance of Bioversity and CIAT | All rights reserved.</div>
</footer>
