p {
  margin: 0;
}

.header {
  padding: 30px 40px;
  color: var(--primary-blue-500);
  background-color: #fff;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;

  .header-title {
    font-size: 22px;
    font-weight: 500;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 30%;
  height: calc(85vh - 86px);
  overflow: auto;

  @media screen and (height <= 850px) {
    height: calc(95vh - 86px);
  }
}

.container-right {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 24px;
  background-color: var(--grey-100);
  padding: 30px 40px;
  border-bottom-right-radius: 15px;

  .container-right-title {
    font-size: 22px;
    font-weight: 700;
    color: var(--primary-blue-500);
  }

  .sidebar-card {
    background-color: #fff;
    border-radius: 10px;
    padding: 30px;
    border: 1px solid var(--grey-200);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;

    .sidebar-card-title {
      font-size: 18px;
      font-weight: 600;
      color: var(--primary-blue-600);
    }

    .sidebar-card-description {
      font-size: 15px;
      font-weight: 400;
      color: var(--grey-600);
    }
  }

  .sidebar-button {
    cursor: pointer !important;

    .sidebar-button-text {
      display: inline-flex;
      align-items: flex-end;
      text-decoration: none;
      position: relative;
      color: var(--light-blue-400);
      gap: 3px;

      &:hover {
        color: var(--primary-blue-500);
      }
    }

    .material-symbols-rounded {
      font-size: 16px;
      color: var(--light-blue-400);

      &:hover {
        color: var(--primary-blue-500);
      }
    }

    .sidebar-button-text::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      height: 1px;
      background-color: var(--light-blue-400);

      &:hover {
        color: var(--primary-blue-500);
      }
    }
  }
}

.container-left {
  display: flex;
  margin: 30px 40px;
  margin-right: 20px;
  flex-direction: column;
  gap: 24px;
  justify-content: flex-start;

  .title-text {
    font-family: Inter, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 27px;
    background: linear-gradient(90deg, var(--primary-blue-600) 0%, var(--light-blue-200) 70%);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-transform: uppercase;
  }

  .divider {
    width: 100%;
    height: 1px;
    background-color: var(--grey-400);
    margin: 0;
    margin-top: 10px;
  }

  .ellipsis-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 30vw;
  }

  .description {
    color: var(--grey-700);
    font-family: Barlow, sans-serif;
    font-size: 15px;
    font-weight: 400;
    line-height: 17px;
    text-align: left;
    margin-top: 0;
    margin-bottom: 5px;

    .about-indicators {
      color: var(--light-blue-300);
      font-weight: 400;
      cursor: pointer;

      &:hover {
        color: var(--light-blue-400);
      }
    }
  }

  .title {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--primary-blue-400);
  }

  .columns {
    display: flex;
    flex-direction: column;
    gap: 20px;

    .section {
      display: flex;
      flex-direction: column;

      .primary-item {
        display: flex;
        flex-direction: column;
        gap: 5px;

        .primary-item-investigator {
          font-size: 14px;
          font-weight: 400;
          color: var(--grey-700);
        }

        .primary-item-investigator-name {
          color: var(--primary-blue-300);
          text-transform: uppercase;
          font-weight: 500;
        }
      }
    }

    .subtitle {
      color: var(--grey-700);
      font-family: Barlow, sans-serif;
      font-size: 15px;
      font-weight: 400;
      line-height: 17px;
      text-align: left;
      margin-bottom: 0;
      margin-top: 6px;
    }

    .button-group {
      margin-top: 20px;
      display: flex;
      gap: 8px;
    }
  }
}

p-dropdown {
  width: 100%;
}

@property --angle {
  syntax: '<angle>';
  initial-value: 0deg;
  inherits: false;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.card {
  background-color: var(--grey-100);
  position: relative;
  z-index: 1;
  border-radius: 10px;
  width: 100%;
  transition: all 0.2s ease-in-out;

  .card-content {
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
  }

  .card-title {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .material-symbols-rounded {
    color: var(--primary-blue-400);
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.01);
  }
}

.card::after,
.card::before {
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background-image: conic-gradient(from var(--angle), #ff4545, #0f9, #006aff, #ff0095, #ff4545);
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  z-index: -1;
  padding: 3px;
  border-radius: 10px;
  animation: spin 2s linear infinite;
  animation-play-state: paused;
  opacity: 0.2;
  transition: all 0.2s ease-in-out;
}

.card::before {
  filter: blur(0.7rem);
}

.card:hover::before {
  filter: blur(1.5rem);
  opacity: 0.5;
}

.card:hover::after {
  opacity: 1;
}

.card:hover::after,
.card:hover::before {
  animation-play-state: running;
  border-radius: 10px;
}

::ng-deep .primary-contract-input {
  width: 100% !important;
}

@keyframes spin {
  from {
    --angle: 0deg;
  }

  to {
    --angle: 360deg;
  }
}

.under-construction-card {
  border: 1px dashed #ecae2b;
}

.under-construction-card::after {
  background-image: none !important;
}

.under-construction-card::before {
  background-image: none !important;
}

.under-construction-image {
  position: absolute;
  top: -15px;
  right: -12px;
  width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.construction-icon {
  width: 100%;
  height: 100%;
}

::ng-deep .p-scroller {
  height: 260px !important;
}
