<div class="container">
  <div class="tilt-container">
    <div class="tilt-box" #tiltBox>
      <img src="/images/home/header-home.png" alt="header-home" class="header-image" />
      <img src="/images/home/header-home-character.png" alt="header-character" class="character-image" />
      <div class="logo">
        <img src="roar.png" alt="roar" class="roar-logo" />
      </div>
      <div class="text-content">
        <span class="title">{{ message()?.title }}</span>
        <span class="description">{{ message()?.description }}</span>
      </div>
    </div>
  </div>
</div>
