.container {
  margin: 30px 40px;

  .content {
    .search-box {
      background-color: rgb(255 255 255 / 10%);
      border: 0.5px solid #b0c4dd;
      border-radius: 12px;
      width: 50vh;
      display: flex;
      align-items: center;
      background-color: #fcfcfc;
      margin-bottom: 25px;

      i {
        font-size: 18px;
        color: #8d9299;
        margin: 6px;
      }

      input {
        border: none;
        outline: none;
        color: #8d9299;
        background: transparent;
        flex-grow: 1;
        padding: 7px 0;
      }

      input::placeholder {
        color: var(--ac-grey-500);
      }
    }
  }
}

@media (orientation: landscape) and (height <= 768px) {
  .search-box {
    width: 60vh !important;
  }
}
