.container {
  margin: 30px 40px;

  .title-text {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #173f6f;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .description-text {
    color: #4c5158;
    font-family: Barlow, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    margin: 8px 0 20px;
  }

  .button-container {
    display: flex;
    gap: 20px;
  }

  .card-container {
    display: flex;
    flex-direction: column;
    background-color: #fcfcfc;
    border-radius: 10px;
    padding: 30px;
    margin-bottom: 20px;

    .alert-container {
      display: flex;
      align-items: center;
      background-color: #e8ebed;
      border-left: 5px solid #074b86;
      gap: 20px;
      padding: 0 20px;
      margin-bottom: 30px;

      .icon {
        color: #074b86;
      }

      h3 {
        margin: 15px 0;
      }
    }

    .card-title {
      font-family: 'Space Grotesk', sans-serif;
      font-size: 12px;
      font-weight: 500;
      color: #8d9299;
      text-transform: uppercase;
      margin-bottom: 30px;
      margin-top: 0;
    }

    .card-description {
      color: #777c83;
      font-family: Barlow, sans-serif;
      font-size: 14px;
      font-weight: 400;
      line-height: 17px;
      text-align: left;
      justify-content: center;
      margin-bottom: 5px;
    }

    .title {
      font-size: 16px;
      font-weight: 600;
      margin-bottom: 10px;
      color: #153c71;
    }

    .item-content {
      display: grid;
      justify-content: space-between;
      grid-template-columns: auto auto;
      align-items: center;
      width: 100%;
      gap: 20px;

      .information {
        display: flex;
        flex-wrap: wrap;
        color: #4c5158;
        font-family: Barlow, sans-serif;
        font-size: 15px;
        font-weight: 400;
        line-height: 16px;

        .row {
          display: grid;
          grid-column: 1;

          .metadata-container {
            display: flex;

            // flex-direction: column;
            gap: 10px;
          }

          .divider {
            margin: 10px 0;
            height: 16px;
            width: 2px;
            background-color: #e5e5e5;
          }

          .metadata-text {
            display: flex;
            align-items: center;
            color: #777c83;
            font-family: 'Space Grotesk', sans-serif;
            font-size: 13px;
            font-weight: 400;
            line-height: 14px;

            i {
              color: #777c83;
              font-size: 13px;
              font-weight: 400;
              line-height: 14px;
            }

            .metadata-title {
              // margin-top: 10px;
              margin-bottom: 0 !important;
              font-weight: normal;
              font-size: 13px;
              align-items: center;
            }

            .institution-type-description {
              color: #345b8f;
              text-transform: uppercase;
            }
          }
        }
      }
    }
  }
}
