<div class="container">
  <div class="faq-header">
    <h2 class="faq-header-subtitle">FRECUENTLY</h2>
    <h1 class="faq-header-title">Asked Questions</h1>
  </div>

  <div class="content">
    <p-accordion expandIcon="pi pi-plus" collapseIcon="pi pi-minus">
      <div class="accordions">
        <div>
          @for (faqItem of this.faqList().slice(0, 3); track $index) {
            <p-accordionTab
              [header]="faqItem.question"
              iconPos="end"
              [disabled]="true"
              [tabStyle]="{ margin: '0px' }"
              [headerStyle]="{
                borderRadius: '0px',
                border: 'none',
                borderBottom: '1px solid #b9c0c5',
                backgroundColor: '#FFFFFF',
                padding: '32px 24px',
                color: 'var(--primary-blue-500)',
                fontWeight: '500'
              }"
              [contentStyle]="{ borderRadius: '0px', border: 'none', padding: '24px' }">
              <p>{{ faqItem.answer }}</p>
            </p-accordionTab>
          }
        </div>
        <div>
          @for (faqItem of this.faqList().slice(3, 6); track $index) {
            <p-accordionTab
              [header]="faqItem.question"
              iconPos="end"
              [disabled]="true"
              [tabStyle]="{ margin: '0px' }"
              [headerStyle]="{
                borderRadius: '0px',
                border: 'none',
                borderBottom: '1px solid #b9c0c5',
                backgroundColor: '#FFFFFF',
                padding: '32px 24px',
                color: 'var(--primary-blue-500)',
                fontWeight: '500'
              }"
              [contentStyle]="{ borderRadius: '0px', border: 'none', padding: '24px' }">
              <p>{{ faqItem.answer }}</p>
            </p-accordionTab>
          }
        </div>
      </div>
    </p-accordion>
  </div>
</div>
