<div class="banner">
  <div class="banner-gradient"></div>
  <img src="/images/landing/banner-photo.png" alt="Banner" class="banner-image" />

  <div class="banner-logos">
    <img src="alliance-white.png" alt="Alliance logo" style="width: 103px" class="banner-logo-1" />
    <img src="/images/landing/ROAR-logo.svg" alt="ROAR logo" style="width: 223px" />
  </div>

  <div class="banner-content">
    <h1 class="banner-title">Simplifying reporting for impact and clarity</h1>
    <p class="banner-description">
      Improve performance reporting with efficient collaboration and streamlined result management for easier tracking and enhancement
    </p>
    <p-button label="Log in" size="small" (onClick)="this.redirectToCognito()" icon="pi pi-arrow-right" [iconPos]="'right'" />
  </div>
</div>
