<div class="input-container">
  @if (label) {
    <label class="label" for="username">{{ label }}</label>
  }
  @if (description) {
    <small class="description" for="username">{{ description }}</small>
  }
  @if (currentResultIsLoading()) {
    <p-skeleton width="100%" height="2.8rem" styleClass="mb-2" />
  } @else {
    @if (type === 'text') {
      <input appSaveOnWriting pInputText id="username" [placeholder]="placeholder" [class]="this.inputValid().class" aria-describedby="username-help" [(ngModel)]="this.body().value" (ngModelChange)="setValue($event)" />
    } @else if (type === 'number') {
      <p-inputNumber [min]="min" styleClass="w-full" [placeholder]="placeholder" [(ngModel)]="this.body().value" (ngModelChange)="setValue($event)" [showButtons]="true" inputId="minmax-buttons" />
    }
  }
  @if (!this.inputValid().valid) {
    <small class="p-error" id="username-help"> {{ this.inputValid().message }} </small>
  }
</div>
