.container {
  margin: 30px 40px;

  .items {
    .input-container {
      display: flex;
      flex-direction: column;
      gap: 0 !important;
    }
  }

  .title-text {
    font-family: Inter, sans-serif;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    color: #173f6f;
    text-transform: uppercase;
    margin-bottom: 0;
  }

  .description-text {
    color: #4c5158;
    font-family: Barlow, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 17px;
    text-align: left;
    margin: 8px 0 20px;
  }

  .card-container {
    gap: 20px;

    .first-column {
      margin-bottom: 20px;
    }

    .card-content {
      display: flex;
      flex-direction: column;
      background-color: #fcfcfc;
      border-radius: 10px;
      padding: 30px;

      .card-title {
        font-family: 'Space Grotesk', sans-serif;
        font-size: 12px;
        font-weight: 500;
        color: #8d9299;
        text-transform: uppercase;
        margin-bottom: 30px;
        margin-top: 0;
      }

      .form-container {
        display: flex;
        flex-direction: column;
        gap: 25px;
      }

      .title {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 10px;
        color: #153c71;
      }

      .item-content {
        display: grid;
        justify-content: space-between;
        grid-template-columns: auto auto;
        align-items: center;
        width: 100%;
        gap: 20px;

        .information {
          display: flex;
          flex-wrap: wrap;
          color: #4c5158;
          font-family: 'Barlow', sans-serif;
          font-size: 15px;
          font-weight: 400;
          line-height: 16px;

          .row {
            display: grid;
            grid-column: 1;

            .project {
              margin-bottom: 10px;
            }

            .project-info {
              display: flex;

              .project-lead,
              .start-date,
              .end-date {
                display: flex;
                align-items: center;
                color: #777c83;
                font-family: 'Space Grotesk', sans-serif;
                font-size: 13px;
                font-weight: 400;
                line-height: 14px;
              }

              .project-data {
                font-family: 'Space Grotesk', sans-serif;
                font-size: 14px;
                line-height: 18px;
                color: #345b8f;
              }

              .material-symbols-rounded {
                font-size: 18px;
                color: #8d9299;
                margin: 0 4px;
              }

              .project-lead {
                display: flex;
                align-items: center;
                padding-right: 40px;
              }

              .start-date {
                display: flex;
                align-items: center;
                padding: 0px 40px;
                border-left: 0.4px solid #b9c0c5;
                border-right: 0.4px solid #b9c0c5;
              }

              .end-date {
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 0px 40px;
              }

              h4,
              span {
                margin-top: 0px;
                margin-bottom: 0;
                font-weight: normal;
                font-size: 13px;
                align-items: center;
              }
              .project-lead-description {
                color: #345b8f;
              }
            }
          }
        }

        .primary-button {
          background-color: transparent;
          color: var(--ac-primary-blue-300);
          outline: none;
          border: 1px solid var(--ac-primary-blue-300);
          padding: 3px 12px;
          border-radius: 100px;
          text-wrap: nowrap;
          font-size: 12px;
          transition: all 0.3s ease;
          display: flex;
          align-items: center;
          cursor: pointer;

          i {
            width: 0;
            overflow: hidden;
            transition: all 0.3s ease;
            padding-left: 0;
            opacity: 0;
          }

          &.active {
            background-color: var(--ac-primary-blue-300);
            color: #fff;

            i {
              width: 30px;
              padding-left: 10px;
              opacity: 1;
            }
          }
        }
      }
    }
  }

  .button-container {
    display: flex;
    gap: 20px;
  }
}

@media (orientation: landscape) and (width <= 1480px) {
  .end-date {
    padding: 0px 15px !important;
  }

  .project-lead {
    padding-right: 15px !important;
  }

  .start-date {
    padding: 0px 15px !important;
  }

  .item-content {
    gap: 0px !important;
  }

  .material-symbols-rounded {
    margin: 0 !important;
  }
}
