<div class="input-container">
  @if (label) {
    <label class="label" for="username">{{ label }}</label>
  }
  @if (description) {
    <small class="description" for="username">{{ description }}</small>
  }

  @if (currentResultIsLoading()) {
    <p-skeleton width="100%" height="7rem" styleClass="mb-2" />
  } @else {
    <textarea
      appSaveOnWriting
      rows="10"
      pInputTextarea
      [autoResize]="false"
      [(ngModel)]="this.signal()[this.optionValue]"
      (ngModelChange)="setValue($event)"
      style="resize: none">
    </textarea>
  }
</div>
