@for (alert of this.actions.globalAlertsStatus(); track $index) {
  <div class="alert-overlay">
    <div class="alert">
      <i class="material-symbols-rounded" [class]="'text-' + alert.severity">{{ this.getIcon(alert.severity) }}</i>
      <div class="summary" [class]="'text-' + alert.severity">{{ alert.summary }}</div>
      <div class="detail" [innerHTML]="alert.detail"></div>
      <div class="actions">
        @for (callback of alert.callbacks; track $index) {
          <p-button label="{{ callback.label }}" (onClick)="callback.event(); closeAlert($index)" />
        }
      </div>
    </div>
  </div>
}
