<div class="my-projects">
  <div class="my-projects-header">
    <h2 class="my-projects-header-subtitle">MY PROJECTS</h2>
    <h1 class="my-projects-header-title">Personalized Insights and Results</h1>
  </div>

  <p class="my-projects-description">
    My Dashboard provides in depth analysis and visualizations of your results, allowing you to track your impact, monitor performance, and gain
    actionable insight.
  </p>

  <div class="my-projects-cards">
    <div class="my-projects-card">
      <h3 class="my-projects-card-title">
        Geographical application of my results
        <i class="pi pi-info-circle" style="font-size: 12px; margin-left: 5px"></i>
      </h3>

      <div class="my-projects-card-image">
        <img src="/images/landing/geo-app.png" alt="Geographical application of my results" class="my-projects-card-image-img" />
      </div>
    </div>

    <div class="my-projects-card">
      <h3 class="my-projects-card-title">
        Institution collaborating in the results
        <i class="pi pi-info-circle" style="font-size: 12px; margin-left: 5px"></i>
      </h3>

      <div class="my-projects-card-image">
        <img src="/images/landing/institution-collab.png" alt="Institution collaborating in the results" class="my-projects-card-image-img" />
      </div>
    </div>

    <div class="my-projects-card">
      <h3 class="my-projects-card-title">
        My results keywords
        <i class="pi pi-info-circle" style="font-size: 12px; margin-left: 5px"></i>
      </h3>

      <div class="my-projects-card-image">
        <img src="/images/landing/results-keyword.png" alt="My results keywords" class="my-projects-card-image-img" />
      </div>
    </div>
  </div>
</div>
