:host ::ng-deep {
  .p-datatable {
    .p-datatable-header {
      background: transparent;
      border: none;
    }

    .p-datatable-thead > tr > th {
      background: #f8f9fa;
      color: #345b8f;
      font-weight: 600;
      padding: 1rem;
    }

    .p-datatable-tbody > tr > td {
      padding: 1rem;
    }

    .p-paginator {
      background: transparent;
      border: none;
    }
  }
}
