<div class="container">
  <div class="header">
    <span class="title-text">MAIN ACTIONS</span>
    <span class="description-text">Effortlessly access your key actions and get started.</span>
  </div>

  <div class="actions">
    <div class="first-column" routerLink="/my-projects">
      <img src="/images/home/main-action-1.png" alt="" class="main-action-1" />
      <div class="text-content">
        <div class="title-content">
          <img src="/images/home/my-dashboard.png" alt="" />
          <span class="title">My Projects</span>
        </div>
        <span class="description">Track, monitor, and manage your ongoing projects seamlessly.</span>
      </div>
    </div>
    <div class="second-column">
      <div class="main-action-2">
        <img src="/images/home/main-action-2.png" alt="" />
        <div class="text-content">
          <div class="title-content">
            <img src="/images/home/my-projects.png" alt="" />
            <span class="title">My Dashboard</span>
          </div>
          <span class="description">Manage results and track progress.</span>
        </div>
      </div>
      <div class="main-action-3">
        <img src="/images/home/main-action-3.png" alt="" />
        <div class="text-content">
          <div class="title-content">
            <img src="/images/home/my-results.png" alt="" />
            <span class="title">My Results</span>
          </div>
          <span class="description">Review your saved results.</span>
        </div>
      </div>
    </div>
  </div>
</div>
